{% extends "base.html" %}
{% block title %}AkaTeam | Journals{% endblock %}
{% block content %}
<body>
  <div class="card" style="width: 18rem;">
    <img src="https://www.teachingenglish.org.uk/sites/teacheng/files/styles/large/public/images/class_journals_iStock_000021675732XSmall.jpg?itok=eRUojT6a" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Ak and Noya</h5>
      <p class="card-text">This is Ak's and Noya's Journal</p>
      <a href="https://docs.google.com/document/d/12e0t50bgS-q9Nye2LspMzOyFSlScJnUHTkQf2siAjQw/edit?usp=sharing " class="btn btn-primary">Link</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://www.teachingenglish.org.uk/sites/teacheng/files/styles/large/public/images/class_journals_iStock_000021675732XSmall.jpg?itok=eRUojT6a" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Akhil, Karam, and Max</h5>
      <p class="card-text">This is Akhil's, Karam's and Max's Journal</p>
      <a href="https://docs.google.com/document/d/1y2lwqai4k3cJUoh604DfrBu3ciog4cgj861_o0HAIAg/edit?usp=sharing ">Link</a>
    </div>
  </div>
</body>
{% endblock %}